<!DOCTYPE html>
<header>
  <div class="container">
    <nav>

      <ul class="menu" style="width: 20%;
        justify-content: space-between;
        list-style: none;
        display: flex;
        text-align: end;
        a {
          text-decoration: none;
          color: #333;
          transition: .4s;
          border-bottom: 2px solid transparent;
          padding-bottom: .5em;}
          
          &:hover { 
          padding-bottom:0;
          border-bottom: 2px solid #333;
          }">
        <li><a href="\">Home</a></li>
      </ul>
    </nav>
  </div>
</header>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- 0. ส่วนแสดง Title ของ Web (start) -->
  <title>Trip</title>
  <!-- 0. ส่วนแสดง Title ของ Web (end) -->

  <!-- 1. เรียกใช้ bootstrap สำหรับตกแต่งหน้า Web (start) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- 1. เรียกใช้ bootstrap สำหรับตกแต่งหน้า Web (end) -->

  <!-- 3. เรียนใช้ leaflet สำหรับสร้างแผนที่ ส่วนหน้าตาแผนที่ (start)-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <!-- 3. เรียนใช้ leaflet สำหรับสร้างแผนที่ ส่วนหน้าตาแผนที่ (end)-->
</head>
