<header>
  <div class="container">
    <nav>

      <ul class="menu" style="width: 20%;
      justify-content: space-between;
      list-style: none;
      display: flex;
      text-align: end;
      a {
        text-decoration: none;
        color: #333;
        transition: .4s;
        border-bottom: 2px solid transparent;
        padding-bottom: .5em;}
        
        &:hover { 
        padding-bottom:0;
        border-bottom: 2px solid #333;
        }">
        <li><a href=\>Home</a></li>
        <li><a href=\about.ejs>About</a></li>
      </ul>
    </nav>
  </div>
</header>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- 0. ส่วนแสดง Title ของ Web -->
  <title>Trip</title>


  <!-- 1. เรียกใช้ bootstrap สำหรับตกแต่งหน้า Web -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- 3. เรียกใช้ leaflet สำหรับสร้างแผนที่ ส่วนหน้าตาแผนที่ -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

  <!-- jquery-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- papaparse-->
  <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>
  
  <script src=https://github.com/Shirokonii/senior_prj/blob/main/data_acc_geojson.geojson></script>
  <script src=https://github.com/Shirokonii/senior_prj/blob/main/data_res_geojson.geojson></script>
  <script src=https://github.com/Shirokonii/senior_prj/blob/main/data_ta_geojson.geojson></script>
</head>

<!-- หัวข้อกับแผนที่-->
<section>
  <div class="container">
    <div class="content">
      <div class="content_left">
        <h1>Nakhon Nayok Trip Design</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere magnam asperiores assumenda alias
          nemo, vel similique quasi velit omnis ducimus quibusdam dolorem corrupti distinctio nesciunt dignissimos
          temporibus vitae libero?</p>
      </div>
      <div class="content_right" style="text-align: center" id="map">
        <iframe width="1200" height="900" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
</section>

<!-- คอนเทนต์-->
<style>
  .center-button {
    text-align: center;
  }

  .collapsible {
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: center;
    border: none;
    outline: none;
  }
</style>
<!-- ตัวเลือก-->
<section style="margin-top: 3em;">
  <div class="center-button">
    <button class="collapsible" style='cursor: pointer; font-weight: bold; text-decoration:
      underline;'>ลักษณะการท่องเที่ยว</button>
    <div class="content" style='display: none'>
      <p>This is the content that can be collapsed or expanded.</p>
      <label for="selectOption">ระยะเวลา:</label>
      <select id="selectOption" name="selectOption">
        <option value="time0">-</option>
        <option value="time1">1 วัน</option>
        <option value="time2">2-3 วัน</option>
        <option value="time3">4-5 วัน</option>
        <option value="time4">6-7 วัน</option>
        <option value="time5">มากกว่า 7 วัน</option>
      </select>
      <br><label for="selectOption">จำนวนคน:</label>
      <select id="selectOption" name="selectOption">
        <option value="member0">-</option>
        <option value="member1">1 คน</option>
        <option value="member2">2-3 คน</option>
        <option value="member3">4-5 คน</option>
        <option value="member4">6-7 คน</option>
        <option value="member5">มากกว่า 7 คน</option>
      </select>
      <br><label for="selectOption">ประเภทกลุ่มนักท่องเที่ยว:</label>
      <select id="selectOption" name="selectOption">
        <option value="type0">-</option>
        <option value="type1">เดินทางคนเดียว</option>
        <option value="type2">ครอบครัว</option>
        <option value="type3">คู่รัก</option>
        <option value="type4">กลุ่มเพื่อน</option>
        <option value="type5">อื่น ๆ</option>
      </select>
      <br><button class="button" style="margin-top: 1em;" id="apply_type">Apply</button>
    </div>
  </div>
</section>

<section style="margin-top: 3em;">
  <div class="center-button">
    <button class="collapsible" style=' cursor: pointer; font-weight: bold; text-decoration: underline;'>ที่พัก</button>
    <div class="content" style="display: none">
      <p>This is the content that can be collapsed or expanded.</p>
      <label for="selectOption">ราคา (ต่อคืน):</label>
      <select id="selectOption" name="selectOption">
        <option value="price_hotel0">-</option>
        <option value="price_hotel1">XXX บาท</option>
        <option value="price_hotel2">XXXX บาท</option>
        <option value="price_hotel3">XXXXX บาท</option>
      </select>
      <br><label for="selectOption">ประเภท:</label>
      <select id="selectOption" name="selectOption">
        <option value="star0">-</option>
        <option value="star1">3 ดาว</option>
        <option value="star2">4 ดาว</option>
        <option value="star3">5 ดาว</option>
        <option value="star4">รีสอร์ท</option>
        <option value="star5">โฮมสเตย์</option>
      </select>
      <br><button class="button" style="margin-top: 1em;" id="apply_acc">Apply</button>
    </div>
  </div>
</section>

<section style="margin-top: 3em;">
  <div class="center-button">
    <button class="collapsible" style='cursor: pointer; font-weight: bold; text-decoration:
    underline;'>ร้านอาหาร</button>
    <div class="content" style="display: none">
      <p>This is the content that can be collapsed or expanded.</p>
      <label for="selectOption">ราคา:</label>
      <select id="selectOption" name="selectOption">
        <option value="price_food0">-</option>
        <option value="price_food1">XXX บาท</option>
        <option value="price_food2">XXXX บาท</option>
        <option value="price_food3">XXXXX บาท</option>
      </select>
      <br><label for="selectOption">ประเภทร้านอาหาร:</label>
      <select id="selectOption" name="selectOption">
        <option value="food0">-</option>
        <option value="food1">อาหารท้องถิ่น</option>
        <option value="food2">อาหารไทย</option>
        <option value="food3">อาหารตะวันตก</option>
        <option value="food4">อาหารตะวันออก</option>
        <option value="food5">มังสวิรัต</option>
      </select>
      <br><button class="button" style="margin-top: 1em;" id="apply_res">Apply</button>
    </div>
  </div>
</section>

<footer>
  <p style="text-align: center;margin-top: 3em;">footer here</p>
</footer>

<!-- เปิดปิดปุ่ม-->
<script>
  // Select all elements with the class "collapsible"
  var collapsibleElements = document.querySelectorAll(".collapsible");

  // Add a click event listener to each "collapsible" element
  collapsibleElements.forEach(function (collapsible) {
    collapsible.addEventListener("click", function () {
      var content = this.nextElementSibling;

      // Toggle the display of the content
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  });
</script>

<!-- แผนที่-->
<script>
  var map = L.map('map', {
    center: [14.2074, 101.2139], // EDIT latitude, longitude to re-center map
    zoom: 13,  // EDIT from 1 to 18 -- decrease to zoom out, increase to zoom in
    scrollWheelZoom: true,
    tap: true
  });
  var light = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map); // EDIT - insert or remove ".addTo(map)" before last semicolon to display by default
  controlLayers.addBaseLayer(light, 'Carto Light basemap');

</script>


<script>
  // Read markers data from data.csv
  $.get('https://github.com/Shirokonii/senior_prj/blob/main/data_acc_geojson.geojson', function (csvString) {

    // Use PapaParse to convert string to array of objects
    var data = Papa.parse(csvString, { header: true, dynamicTyping: true }).data;

    // For each row in data, create a marker and add it to the map
    // For each row, columns `Latitude`, `Longitude`, and `Title` are required
    for (var i in data) {
      var row = data[i];

      var marker = L.marker([row.latitude, row.longitude], {
        opacity: 1
      }).bindPopup(row.title);

      marker.addTo(map);
    }

  });

</script>
<script>
  fetch('www/data/data_ta_geojson.geojson')
  .then(response => response.json())
  .then(data => {
    // Loop through the features and add markers to the map
    data.features.forEach(feature => {
      var lat = feature.geometry.coordinates[1]; // Assuming GeoJSON has a Point geometry
      var lon = feature.geometry.coordinates[0];

      // You can customize the marker popup content here
      var popupContent = `<p>${feature.properties.title}</p>`;

      // Add marker to the map
      L.marker([lat, lon]).addTo(map).bindPopup(popupContent);
    });
  });
</script>